@model Business.Models.DiscountViewModel.DiscountUpdateViewModel

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

 <div class="content-wrapper">
            <div class="row" id="proBanner">
            </div>
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-school"></i>
                </span> Rediger Rabatt
              </h3>
            </div>

    <div class="row justify-content-center">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center" >Opprett Rabatt</h4> <!-- Form başlığı -->
                    <form asp-controller="Discount" asp-action="Update" asp-area="Admin" method="post" > <!-- Form -->
                        <div asp-validation-summary="ModelOnly"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="UserId" />
                        <input type="hidden" asp-for="CreatedTime" />
                        <!-- Course Name -->
                        <div class="mb-3">
                            <label  class="form-label">Kode</label>
                            <input type="text" class="form-control" asp-for="Code" >
                            <span class="text-danger" asp-validation-for="Code"></span>
                        </div>
                        <div class="mb-3">
                            <label  class="form-label">Prosentdel</label>
                            <input type="text" class="form-control" asp-for="Rate" >
                            <span class="text-danger" asp-validation-for="Rate"></span>
                        </div>
                        <div class="mb-3">
                            <label  class="form-label">Status</label>
                            <input type="text" class="form-control" asp-for="Status" >
                        <span class="text-danger" asp-validation-for="Status"></span>
                        </div>
                        <div class="mb-3">
                            <label  class="form-label" asp-for="UserId">Bruker</label>
                            <select asp-for="UserId" class="form-control" asp-items="@ViewBag.Users">
                                <option value="">Velg Bruker</option>
                            </select>
                            <span class="text-danger" asp-validation-for="UserId"></span>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary"> <i class="mdi mdi-content-save"></i>Rediger</button> 
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </div>
