<section class="w3l-servicesblock py-md-5 py-4">
    <div class="container pb-2">
        <div class="row align-items-center">
            <div class="col-lg-6 left-wthree-img pr-lg-4">
                <img src="~/starter/assets/images/img1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 about-right-faq align-self mb-lg-0 mb-5 pl-xl-5">
                <h6>Om Oss</h6>
                <h3 class="title-big mb-3">Vi tilbyr det beste. <br>Onlinekurs</h3>
                <p class="">Vi er en pioner innen online læring. Med vårt team av 
                    eksperter hjelper vi studenter med å låse opp sitt potensial og utmerke seg innen sitt fagområde. 
                    Vi er her for å bidra til å transformere deres fremtid.</p>
                <div class="row mt-lg-5 mt-4 mb-2">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center left-insp-art">
                            <img src="~/starter/assets/images/book.png" alt="" class="img-fluid mr-3">
                            <h6>Forbedre dine ferdigheter</h6>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-sm-0 mt-4">
                        <div class="d-flex align-items-center left-insp-art">
                            <img src="~/starter/assets/images/book2.png" alt="" class="img-fluid mr-3">
                            <h6>Start Online Læring</h6>
                        </div>
                    </div>
                </div>
                <a class="btn button-style button-2 mt-lg-5 mt-4" href="~/starter/about.html">Les Mer<i
                                                                                                           class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>

