<section class="w3l-servicesblock py-md-5 py-4">
    <div class="container pb-2">
        <div class="row align-items-center">
            <div class="col-lg-6 left-wthree-img pr-lg-4">
                <img src="~/starter/assets/images/img1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 about-right-faq align-self mb-lg-0 mb-5 pl-xl-5">
                <h6>About Us</h6>
                <h3 class="title-big mb-3">We provide the best <br>Online Courses</h3>
                <p class="">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                    ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet.
                    Lorem ipsum viverra feugiat.</p>
                <div class="row mt-lg-5 mt-4 mb-2">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center left-insp-art">
                            <img src="~/starter/assets/images/book.png" alt="" class="img-fluid mr-3">
                            <h6>Enhance your Skills</h6>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-sm-0 mt-4">
                        <div class="d-flex align-items-center left-insp-art">
                            <img src="~/starter/assets/images/book2.png" alt="" class="img-fluid mr-3">
                            <h6>Start Online Learning</h6>
                        </div>
                    </div>
                </div>
                <a class="btn button-style button-2 mt-lg-5 mt-4" href="~/starter/about.html">Read More<i
                                                                                                           class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>

