<section class="video-section">
        <div class="midd-w3 pb-5">
            <div class="container pb-md-4 py-md-0 py-3 mb-5">
                <div class="row mb-lg-2">
                    <div class="col-lg-6 about-right-faq align-self pl-lg-5">
                        <h3 class="title-big">Du kan nå se våre nettkurs!</h3>
                        <p class="mt-3">Våre nettkurs gir deg muligheten til å utforske en verden av kunnskap og læring 
                            fra komforten av ditt eget hjem. Med et variert utvalg av online-kurs tilgjengelig,
                            kan du nå utvide dine horisonter, forbedre ferdighetene dine og nå dine mål, alt i ditt eget tempo.
                            Vi tilbyr kvalitetsinnhold som dekker ulike emner, fra teknologi og vitenskap til kunst og kultur.
                            Gjør deg klar til å begi deg ut på en 
                            reise mot personlig og faglig utvikling. Start din online læringsopplevelse i dag!</p>
                        <a class="btn button-style mt-lg-5 mt-4 popup-with-zoom-anim play-view"
                            href="#small-dialog">Spill av video<i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-lg-6 left-wthree-img-video text-righ pr-lg-5 mt-lg-0 mt-5">
                        <div class="position-relative text-center">
                            <img src="~/starter/assets/images/video.jpg" alt="" class="img-fluid radius-image-full">
                            <a href="#small-dialog"
                                class="popup-with-zoom-anim play-view text-center position-absolute">
                                <span class="video-play-icon">
                                    <span class="fa fa-play"></span>
                                </span>
                            </a>
                            <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                            <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                                <iframe
                                    src="https://player.vimeo.com/video/248099609?color=26e5d8&title=0&byline=0&portrait=0"
                                    frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

