<section class="w3l-teams-32-main py-5">
        <div class="teams-32 py-md-4">
            <div class="container">
                <div class="title-main text-center mx-auto mb-4">
                    <h3 class="title-big">Our Expert Teachers</h3>
                    <p class="sub-title mt-2">Cum doctus civibus efficiantur in imperdiet deterruisset. Cras efficitur,
                        metus
                        gravida suscipit cursus, dui diam pre lorem id
                        lectus.</p>
                </div>
                <div class="row main-contteam-32 mt-sm-5 pt-lg-2">
                    <div class="col-lg-3 col-6 team-main-19">
                        <div class="column-19">
                            <a href="#team"><img class="img-fluid" src="~/starter/assets/images/team1.jpg" alt=" "></a>
                        </div>
                        <div class="right-team-9">
                            <h6><a href="#team" class="title-team-32">Chris Tina</a></h6>
                            <p class="sm-text-32">Web Designer</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 team-main-19">
                        <div class="column-19">
                            <a href="#team"><img class="img-fluid" src="~/starter/assets/images/team2.jpg" alt=" "></a>
                        </div>
                        <div class="right-team-9">
                            <h6><a href="#team" class="title-team-32">Diego Mota</a></h6>
                            <p class="sm-text-32">CSS, HTML</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 team-main-19">
                        <div class="column-19">
                            <a href="#team"><img class="img-fluid" src="~/starter/assets/images/team3.jpg" alt=" "></a>
                        </div>
                        <div class="right-team-9">
                            <h6><a href="#team" class="title-team-32">Anton Bone</a></h6>
                            <p class="sm-text-32">UI/UX Designer</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 team-main-19">
                        <div class="column-19">
                            <a href="#team"><img class="img-fluid" src="~/starter/assets/images/team4.jpg" alt=" "></a>
                        </div>
                        <div class="right-team-9">
                            <h6><a href="#team" class="title-team-32">Neoye Achi</a></h6>
                            <p class="sm-text-32">Web Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

