<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Online Study - Education Category Responsive Web Template - Home : W3Layouts</title>
    <!-- google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="~/starter/assets/css/style-starter.css">
</head>

<body>
    <!--header-->
    @await Html.PartialAsync("~/Views/UserPartial/NavBarPartial.cshtml")
    <!--//header-->
    <!-- banner section -->
    
    <!-- //banner section -->
    <!-- banner bottom section -->
   @RenderBody()
    <!--//testimonials-->
    <!-- blog section -->
    @await Html.PartialAsync("~/Views/UserPartial/FooterPartial.cshtml")
    <!-- //footer -->

    <!-- Js scripts -->
    <!-- move top -->
    @await Html.PartialAsync("~/Views/UserPartial/ScriptPartial.cshtml")
</body>

</html>


