@model Business.Dtos.Catalog.Course.UpdateCourseDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center" >Update Course</h4> <!-- Form başlığı -->
                    <form asp-controller="Course" asp-action="Update" method="post" enctype="multipart/form-data"> <!-- Form -->
                        <div asp-validation-summary="ModelOnly"></div>
                        
                        <input type="hidden" asp-for="CourseId"></input>
                        <input type="hidden" asp-for="UserId"></input>
                        <input type="hidden" asp-for="CourseImage"></input>
                        <!-- Course Name -->
                        <div class="mb-3">
                            <label  class="form-label">Course Name:</label>
                            <input type="text" class="form-control" asp-for="CourseName" required>
                            <span class="text-danger" asp-validation-for="CourseName"></span>
                        </div>
                        
                        <div class="mb-3">
                            <label asp-for="CoursePrice" class="form-label">Course Price:</label>
                            <input type="number" class="form-control" asp-for="CoursePrice" step="0.01" required>
                        </div>
                        
                        <div class="mb-3">
                            <label asp-for="Feature.Duration" class="form-label">Course Duration:</label>
                            <input type="text" class="form-control" asp-for="Feature.Duration">
                        </div>
                        
                        <div class="mb-3">
                            <label asp-for="CourseDescription" class="form-label">Course Description:</label>
                            <textarea class="form-control" asp-for="CourseDescription" rows="4"></textarea>
                        </div>
                        <div class="mb-3">
                            <label  class="form-label" asp-for="CategoryId">Category:</label>
                            <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Category">
                            </select>
                            <span class="text-danger" asp-validation-for="CategoryId"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ImageFormFile" class="form-label">Course Image:</label>
                            <input type="file" class="form-control" asp-for="ImageFormFile">
                        </div>
                         <div class="text-center">
                        <button type="submit" class="btn btn-primary">Update</button> 
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

