@using Business.Models
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke">
                <h1>
                    <a class="navbar-brand" href="/Home/Index">
                        <img class="img-fluid" style="width: 125px; height: 125Px;" src="~/starter/assets/images/logo2.png" alt=" ">
                    </a>
                </h1>
                <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/Home/Index">Hjem<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/About/Index">Om Oss</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Courses/Index">Kurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Contact/Index">Kontakt Oss</a>
                        </li>
                        <!-- search button -->
                        <div class="search-right">
                            <a href="#search" class="btn button-style" title="search">Søk</a>
                            <!-- search popup -->
                            <div id="search" class="pop-overlay">
                                <div class="popup">
                                    <h4 class="search-pop-text-w3 text-white text-center mb-4">Søk her etter ditt onlinekurs</h4>
                                    <form asp-controller="Home" asp-action="Index" method="GET" class="search-box">
                                        <div class="input-search"> <span class="fa fa-search mr-2" aria-hidden="true"></span><input type="search" placeholder="Hva leter du etter?" name="search" required="required"
                                                                                                          autofocus="">
                                            
                                        </div>
                                        <button type="submit" class="btn button-style">Søk</button>
                                    </form>
                                </div>
                                <a class="close" href="#close">×</a>
                            </div>
                            <!-- //search popup -->
                        </div>
                        <!-- //search button -->
                        <div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <ul>
                                    <li class="nav-item"><h6 class="about-block-3"> Hei @User.Identity.Name</h6></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Auth" asp-action="SignUp" ><i class="fas fa-sign-out-alt"></i><strong> Logout</strong> </a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Instructor" asp-controller="Profile" asp-action="Index" > <i class="fas fa-user"></i><strong> Min Side</strong>  </a></li>
                                                    
                                </ul>
                                              
                            }
                            else
                            {
                                <li class="nav-item"><a class="nav-link"  asp-area="" asp-controller="Auth" asp-action="SignIn" ><i class="fas fa-sign-in-alt"></i><strong> Logg Inn</strong> </a></li>
                                <li class="nav-item"><a class="nav-link"  asp-area="" asp-controller="Auth" asp-action="SignUp" ><i class="fas fa-registered"></i><strong> Meld Deg Inn </strong> </a></li>
                            }
                        </div>
                    </ul>
                </div>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Cart" asp-action="Index">@await Component.InvokeAsync("ShoppingCartCount")</a>
                   
                </li>
                <!-- toggle switch for light and dark theme -->
                <div class="cont-ser-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                
                
                
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>

