@model Business.Models.UserViewModel

@{
    ViewBag.Title = "title";
    Layout = "_UserLayout";
}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body" >
          <h4 class="card-title">Profile</h4>
          <table class="table table-striped">
            <tr>
              <th>User</th>
              <td class="py-1">
                <img src="~/writerTemplate/assets/images/faces-clipart/pic-1.png" alt="image" />
              </td>
            </tr>
            <tr>
              <th>UserName</th>
              <td>@Model.UserName</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>@Model.Email</td>
            </tr>
            <tr>
              <th>City</th>
              <td>@Model.City</td>
            </tr>
          </table>
          <div class="text-center">
            <a asp-action="Index" asp-controller="Course" class="btn btn-primary" >My Courses</a>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>



