<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/writerTemplate/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/writerTemplate/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/writerTemplate/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/writerTemplate/assets/images/favicon.ico" />
  </head>
  <body>
    <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    @await Html.PartialAsync("/Areas/Instructor/Views/InstructorPartialView/_NavbarPartial.cshtml")
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        @await Html.PartialAsync("/Areas/Instructor/Views/InstructorPartialView/_SidebarPartial.cshtml")
        
        <div class="main-panel">
        <!-- partial -->
        @RenderBody()
        <!-- main-panel ends -->
         @await Html.PartialAsync("/Areas/Instructor/Views/InstructorPartialView/_FooterPartial.cshtml")
                  <!-- partial -->
                </div>
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    @await Html.PartialAsync("/Areas/Instructor/Views/InstructorPartialView/_ScriptPartial.cshtml")
    <!-- End custom js for this page -->
  </body>
</html>


