<nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            @await Component.InvokeAsync("AdminUserComponent")
            <li class="nav-item">
              <a class="nav-link" href="/Admin/Dashboard/Index">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/Discount/Index">
                <span class="menu-title">Rabatt</span>
                <i class="mdi mdi-sale menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/Users/Index">
                <span class="menu-title">Brukere</span>
                <i class="mdi mdi-bag-personal menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/Instructors/Index">
                <span class="menu-title">Instruktør</span>
                <i class="mdi mdi-school menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/Chart/Index2">
                <span class="menu-title">Charts</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/Chart/Index">
                <span class="menu-title">Statistikk</span>
                <i class="mdi mdi-chart-histogram menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/Course/Index">
                <span class="menu-title">Kurs</span>
                <i class="mdi mdi-chair-school menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/AdminOrder/Index">
                <span class="menu-title">Bestillinger</span>
                <i class="mdi mdi-shopping menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/Testimonials/Index">
                <span class="menu-title">Referanser</span>
                <i class="mdi mdi-face-profile menu-icon"></i>
              </a>
            </li>
          </ul>
        </nav>
