<nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                  <img src="~/writerTemplate/assets/images/faces/face1.jpg" alt="profile">
                  <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">David Grey. H</span>
                  <span class="text-secondary text-small">Project Manager</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/Dashboard/Index">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/Discount/Index">
                <span class="menu-title">Rabatt</span>
                <i class="mdi mdi-sale menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/Users/Index">
                <span class="menu-title">Brukere</span>
                <i class="mdi mdi-bag-personal menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/Chart/Index2">
                <span class="menu-title">Charts</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/Chart/Index">
                <span class="menu-title">Statistikk</span>
                <i class="mdi mdi-face-profile menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/Course/Index">
                <span class="menu-title">Kurs</span>
                <i class="mdi mdi-table-large menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admin/AdminOrder/Index">
                <span class="menu-title">Bestillinger</span>
                <i class="mdi mdi-table-large menu-icon"></i>
              </a>
            </li>
          </ul>
        </nav>
