<nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            @await Component.InvokeAsync("UserComponent")
            <li class="nav-item">
              <a class="nav-link" href="/Instructor/Dashboard/Index">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Instructor/Chart/Index2">
                <span class="menu-title">Charts</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Instructor/Chart/Index">
                <span class="menu-title">Statistikk</span>
                <i class="mdi mdi-chart-histogram menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Instructor/Profile/Index">
                <span class="menu-title">Profile</span>
                <i class="mdi mdi-face-profile menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Instructor/Course/Index">
                <span class="menu-title">Courses</span>
                <i class="mdi mdi-chair-school menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Instructor/Order/Index">
                <span class="menu-title">Orders</span>
                <i class="mdi mdi-table-large menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Instructor/Testimonials/Index">
                <span class="menu-title">Skriv Referanse</span>
                <i class="mdi mdi-text-to-speech menu-icon"></i>
              </a>
            </li>
          </ul>
        </nav>
